:host /deep/  .mat-grid-tile .mat-figure {
  display: block;
  position: absolute;
}


.mat-card-title{
  font-size: 2em;

}

:host /deep/ .mat-card-header-text{
  margin: auto;
  font-size: 0.5em;
}

:host /deep/ .mat-card-sub{
  height: 250px;
  margin-bottom: 25px;
}

:host /deep/ .mat-card-content{
  font-size: 0.8em;
}

:host /deep/ .mat-card{
  padding: 5px;
}

:host /deep/ .mat-grid-tile{
  height: 900px;
}


.mat-card-subtitle {
  text-align: center;
}

.mat-card-image{
  width: 100%;
  margin:unset;
  height: 100px; /* height of container */
  object-fit: cover;
}

.mat-card-image:first-child{
  margin-top: unset;

}


.mat-focus-indicator .mat-button .mat-button-base {
  all: revert;

}


.mat-card-sub:hover,.regen-button:hover {
  background-color: #e9e9e9;
}


