<div class="example-container">
  <div class="form-container">
    <form  (submit)="entrerMonitoring(weight.value, etat.value, diet.value)">
      <mat-form-field class="form-field" >
        <mat-label> Entrez votre poids
        </mat-label>
        <input matInput #weight formControlName="weight" required>
      </mat-form-field>
        <mat-form-field class="form-field" >
        <mat-label> Notez la diet qui vous a été proposée
        </mat-label>
        <input matInput #diet formControlName="diet" required>

      </mat-form-field>
      <mat-form-field class="form-field" >
        <mat-label> Notez votre état mental
        </mat-label>
        <input matInput #etat formControlName="etat" required>

      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Valider</button>
    </form>
  </div>
</div>
