<p>monitoring works!</p>
<div class="example-container">
  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Notez votre état mental </mat-label>
    <input matInput type = text #etat >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Notez la  diet </mat-label>
    <input matInput type = text #diet >

  </mat-form-field>
  <mat-form-field appearance="fill">
  <button mat-button (click)=" entrerMonitoring(etat.value, diet.value)">
    Valider
  </button>
  </mat-form-field>
</div>
